<img src="http://nfscharts.nfshome.com/track.php?id=36" alt="" border="0" height="0px" width="0px">
<sсriрt src="http://counter.rambler.ru/top100.jcn?1595579" type="text/javasсriрt"></sсriрt>
<noindex>
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click;NFSko' "+
"target=_blank><img src='//counter.yadro.ru/hit;NFSko?t12.4;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet--><br/>
<!--Rating@Mail.ru-->
<script language="JavaScript" type="text/javascript"><!--
d=document;var a='';a+=';r='+escape(d.referrer)
js=10//--></script><script language="JavaScript1.1" type="text/javascript"><!--
a+=';j='+navigator.javaEnabled()
js=11//--></script><script language="JavaScript1.2" type="text/javascript"><!--
s=screen;a+=';s='+s.width+'*'+s.height
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
js=12//--></script><script language="JavaScript1.3" type="text/javascript"><!--
js=13//--></script><script language="JavaScript" type="text/javascript"><!--
d.write('<IMG src="http://d4.c0.ba.a0.top.list.ru/counter'+
'?id=656557;js='+js+a+';rand='+Math.random()+
'" height="1" width="1"/>')
if(11<js)d.write('<'+'!-- ')//--></script><noscript><img
src="http://d4.c0.ba.a0.top.list.ru/counter?js=na;id=656557"
height="1" width="1" alt=""/></noscript><script language="JavaScript" type="text/javascript"><!--
if(11<js)d.write('--'+'>')//--></script>
<a href='http://top.mail.ru/jump?from=656557' rel="nofollow" target='_blank'><img alt='Рейтинг @Mail.ru' src='http://top.list.ru/counter?id=656557;t=50;l=1' alt='Рейтинг@Mail.ru' width="88px" height="31px" border="0" /></a>
<!--/Rating@Mail.ru-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter211231 = new Ya.Metrika({id:211231,
                    webvisor:true,
                    clickmap:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/211231" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</noindex>