<div class='gallery-container'>
	<div class='title'>
		{% block title %}
			Default title text
		{% endblock %}
	</div>
	<div class='content'>
		{% block content %}
			Default content text
		{% endblock %}
	</div>
</div>